:root {
    --primary-color: #3a7cc4;
    --secondary-color: #6c757d;
    --dark-color: #343a40;
    --secondary-dark-color: #495057;
    --light-color: #c2c2c2;
    --success-color: #28a745;
    --info-color: #17a2b8;
}

/* JourneySync color scheme and Font */
/* City selection and itinerary */
.cityDropdown {
    width: 20%;
    padding: auto;
    margin-bottom: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.25rem;
    font-size: large;
}

/* inside the form stuff */
.form-check-input {
    margin: 5px 10px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.containerAttraction {
    font-size: 18px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.time-date {
    margin-inline: 10px;
    padding-inline: 10px;
}

/* Toggle button */

.toggle-button {
    background-color: var(--light-color);
    border: none;
    padding: 5px;
    margin: 20px 10px;
    border-radius: 0.25rem;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: var(--secondary-color);
}

.itineraryDiv {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Dark Mode styles */

.dark-mode .cityDropdown {
    background-color: var(--light-color);
    color: var(--dark-color);

}

.dark-mode .itineraryDiv {
    background-color: var(--secondary-color);
    color: var(--light-color);
}
