/* Nav bars require "wrapping" for responsive collapsing and color scheme classes  */

:root {
    --primary-color: #3a7cc4;
    --secondary-color: #6c757d;
    --dark-color: #343a40;
    --secondary-dark-color: #495057;
    --light-color: #c2c2c2;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --button-color: #6086af;
}

/* JourneySync color scheme and Font */
.header-brand {
    color: var(--dark-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-inline: 10px;
    margin-top: 10px;
}

.container-fluid {
    background-color: var(--light-color);
}

.lead {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    white-space: normal;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Picture carousel size/image behavior */
#carouselMain {
    max-height: 500px; /* Adjust this value as needed */
    overflow: hidden;
}
#carouselMain .carousel-inner {
    max-height: 800px; /* Should match the carousel's max-height */
}
#carouselMain .carousel-item img {
    object-fit: cover;
    object-position: 30% 70%;
    height: 600px; /* Should match the carousel's max-height */
    width: 100%;
}

/* Block Quote */
.text-end {
    font-style: italic;
    color: var(--dark-color);
    padding-right: 40px;
    margin: 10px;
}

/* Planning */
.planning-feature {
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-color);
}

.planning-feature h2 {
    font-family: 'franklin gothic medium', 'arial narrow', arial, sans-serif;
    font-size: 25px;
    color: var(--primary-color);
    margin: 10px;
    text-align: center;
    box-shadow: var(--dark-color);
    padding: 10px;
    border-radius: 10px;
}

.planning-feature p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: var(--dark-color);
    margin: 10px;
    text-align: center;
}

.planning-feature a{
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 10px;
    padding: 10px;
    background-color: var(--button-color);
    color: var(--dark-color);
}

.planning-feature img {
    display: flex;
    width: 500px;
    height: auto;
    margin-left: auto;
    border-radius: 10px;
}

/* Features */
.feature-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: var(--primary-color);
    margin: 10px;
    text-align: center;
    box-shadow: var(--dark-color);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-color);
}

.cards-feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.feature-card img {
    width: auto;
    height: 120px;
    border-radius: 10px;
    margin: 10px;
}

.feature-card h3 {
    text-decoration: underline;
    color: var(--primary-color);
}

.feature-card {
    font-size: 18px;
    margin: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark-color);
    background-color: var(--light-color);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* About article */
.about-section {
    background-color: var(--light-color);  /* A custom light background color */
}

.about-section h2 {
    color: var(--primary-color);  /* Bootstrap's primary blue color */
}


 /* buttons for budget */

.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.btn {
    border-radius: 10px;
    border-color: var(--secondary-color);
}

/* Dark Mode styles*/

.dark-mode .scope {
    background-color: var(--dark-color);
}

/* Header */
.dark-mode .nav-item a {
    color: var(--light-color);
}

.dark-mode .container-fluid {
    background-color: var(--dark-color);
}

.dark-mode .container-fluid .header-brand {
    color: var(--info-color);
}

.dark-mode .lead {
    color: var(--light-color);
}

/*Dark Block Quote */
.dark-mode .text-end {
    color: var(--light-color);
}

/* darkmode planning panel */
.dark-mode .planning-feature {
    background-color: var(--secondary-dark-color);
    color: var(--light-color);
}

/* Dark Feature cards */
.dark-mode .feature-header {
    background-color: var(--secondary-dark-color);
    color: var(--info-color);
}

.dark-mode .feature-card h3 {
    color: var(--info-color);
}

.dark-mode .feature-card {
    background-color: var(--secondary-dark-color);
    color: var(--light-color);
}

/* Dark About section */
.dark-mode .about-section h2 {
    color: var(--info-color);
}

.dark-mode .about-section {
    background-color: var(--secondary-dark-color);
    color: var(--light-color);
}
